//- extends layout

//- block content
//-     .container
//-         .row
//-             .col
//-                 form
//-                     .form-group
//-                         label(for='firstname') Name
//-                         input#firstname.form-control(type='text' placeholder='firstname')
//-                     .form-group
//-                         label(for='lastname') LastName
//-                         input#lastname.form-control(type='text' placeholder='lastname')
//-                     .form-group
//-                         button.btn.btn-primary Add